* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Inter;
    color: white;
    background-color: #282D35;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    font-weight: 700;
    font-size: larger;
}

.NavLeft {
    display: flex;
    align-items: center;
    color: cyan;
}

.Nav img {
    width: 80px;
}

.NavRight { 
    padding-right: 20px;
}

.MainContent {
    padding: 50px;
    background-image: url("../public/logo512.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.MainContent > ul > li::marker {
    font-size: 1.3em;
    color: cyan;
}