* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Inter;
    color: white;
    background-color: black;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-weight: 700;
    font-size: larger;
}

.NavLeft {
    display: flex;
    align-items: center;
    color: cyan;
}

.Nav img {
    width: 80px;
}

.NavRight { 
    padding-right: 20px;
}